services:
  obbot:
    build:
      context: "."
      dockerfile: Dockerfile
      args:
        - "UID=${UID:-1000}"
        - "GID=${GID:-1000}"
        - "UNAME=${UNAME:-wogong}"
    container_name: obbot
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - /home/wogong/Dropbox/Server/data/obsidian:/data
      - ./src/.env.docker:/app/src/.env
    restart: always
